{% extends "layout.html" %}
{% block content %}

<img src="static/images/info.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>What is Epileptic Seizure?</h1>
        </header>
        
        <div class="w3-container">
          <p>
            A disorder in which nerve cell activity in the brain is disturbed, causing seizures.
            Epilepsy may occur as a result of a genetic disorder or an acquired brain injury, such as a trauma or stroke.
            During a seizure, a person experiences abnormal behaviour, symptoms and sensations, sometimes including loss of consciousness. There are few symptoms between seizures.
            Epilepsy is usually treated by medication and in some cases by surgery, devices or dietary changes.
        </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Symptoms</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Usually self-diagnosable
                During a seizure, a person experiences abnormal behaviour, symptoms and sensations, sometimes including loss of consciousness. There are few symptoms between seizures.
                People may experience:
                Whole body: fainting or fatigue
                Muscular: rhythmic muscle contractions or muscle spasms
                Sensory: aura or pins and needles
                Also common: seizures, amnesia, anxiety, depression, or staring spells
            </p>

            </div>
            <footer class="w3-container w3-blue">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue">
                      <h1>Precautions</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                        Treatment consists of anti-convulsants
                        Epilepsy is usually treated by medication and in some cases by surgery, devices or dietary changes.                    </p>
            </div>
                    
                    <footer class="w3-container w3-blue">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Treatment</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Carbamazepine is a medicine used to treat epilepsy. It can also be taken for nerve pain caused by diabetes (peripheral neuropathy) or if you have a painful condition of the face called trigeminal neuralgia. Carbamazepine is occasionally used to treat bipolar disorder when other medicines have not worked.
            </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}